<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="main.css">
</head>

<body id="app">
<nav class="main-nav">
    <h3>Kafana</h3>
    <div>
        <button>Login</button>
        <button>Register</button>
    </div>
</nav>
<div class="main-page-container">

    <div class="reservation-info left-info item">
        <h1>Mali Masi: <span class="sm-counter"></span></h1>
        <div class="reservation-card" v-for="(reservartion1, index) in leftReservations">
            <div class="res-name">Name:{{reservartion1.name}}</div>
            <div class="res-mail">Mail: {{reservartion1.email}}</div>
            <div class="res-time">Time: {{reservartion1.time}}</div>
            <div class="res-date">Date: {{reservartion1.date}}</div>
            <div class="res-num-people">Number of people: {{reservartion1.numPeople}} </div>
        </div>

    </div>
    <div class="reservation-main item">
        <form class="reservation-form">

            <div class="reservation item item-1">
                <label>Name:</label>
                <input type="text" name="name" v-model="reservationForm.name">
            </div>

            <div class="reservation item item-2">
                <label>Surname:</label>
                <input type="text" name="surname" v-model="reservationForm.surname">
            </div>

            <div class="reservation item item-3">
                <label>Number People:</label>
                <input type="number" name="numPeople" v-model="reservationForm.numPeople">
            </div>

            <div class="reservation item item-4">
                <label>Number Tables:</label>
                <input type="text" name="numTables" v-model="reservationForm.numTables">
            </div>

            <div class="reservation item item-5">
                <label>Time:</label>
                <input type="time" name="time" v-model="reservationForm.time">
            </div>

            <div class="reservation item item-6">
                <label>Tel:</label>
                <input type="tel" name="telephone" v-model="reservationForm.tel">
            </div>

            <div class="reservation item item-7">
                <label>Email:</label>
                <input type="email" name="email" v-model="reservationForm.email">
            </div>

            <div class="reservation item item-7">
                <label>Date:</label>
                <input type="date" name="date" v-model="reservationForm.date">
            </div>

            <button class="form-btn" @click.prevent="test"
            >Make Reservation</button>
        </form>
    </div>
    <div class="reservation-info right-info item">
        <h1>Golemi Masi: <span class="bg-counter"></span></h1>
        <div class="reservation-card" v-for="(reservartion1, index) in rightReservations">
            <div class="res-name">Name:{{reservartion1.name}}</div>
            <div class="res-mail">Mail: {{reservartion1.email}}</div>
            <div class="res-time">Time: {{reservartion1.time}}</div>
            <div class="res-date">Date: {{reservartion1.date}}</div>
            <div class="res-num-people">Number of people: {{reservartion1.numPeople}} </div>
        </div>
    </div>

</div>


<script>
    let app =  Vue.createApp({
        computed : {

        },
        methods : {
            manageFetched(data)
            {
                if(data.length <= 3)
                {
                    this.leftReservations = data;
                }
                else
                {
                    for (const reservation of data)
                    {
                        if(this.leftReservations.length < 3)
                        {
                            this.leftReservations.push(reservation);
                        }
                        else
                        {
                            this.rightReservations.push(reservation);

                        }

                    }
                }
            },
            submitForm(jsonObj, javaObj)
            {
                this.addReservationCard(javaObj)

                /*fetch('http://127.0.0.1:5000/api/reserve', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: jsonObj
                })
                    .then(response => response.json())
                    .then(data => {
                        // Handle the response from the backend
                        console.log (data);
                        if(data === "200") this.addReservationCard(javaObj)
                    })
                    .catch(error => {
                        // Handle errors
                        console.error('Error submitting to backend:', error);
                    });*/
            },
            addReservationCard(reservationInfo)
            {
                console.log("Adding", reservationInfo)
                if(this.leftReservations.length < 3)
                {
                    this.leftReservations.push(reservationInfo);
                }
                else
                {
                    this.rightReservations.push(reservationInfo);
                }
                this.resetFields();
            },
            resetFields()
            {
                for (const reservationFormKey in this.reservationForm)
                {
                    this.reservationForm[reservationFormKey] = "";
                }
            },
            test()
            {
                let javaObject = this.factory() ;
                console.log(javaObject)

                let stringJson = JSON.stringify(javaObject);
                console.log(stringJson);
                this.submitForm(stringJson, javaObject)
            },
            factory()
            {
                const formDetails = {};

                for (const reservationInfoKey in this.reservationForm)
                {
                    formDetails[reservationInfoKey] = this.reservationForm[reservationInfoKey];
                }
                return formDetails;

            }

        },
        mounted()
        {
            // Fetch data from the local JSON file
            fetch('/data.json')
                .then(response => response.json())
                .then(data => {
                    // Set the data in the component's state
                    console.log(data);
                    this.manageFetched(data);
                })
                .catch(error => console.error('Error fetching data:', error));
        },
        data() {
            return {
                reservationForm: {
                    name: "",
                    surname:"",
                    numPeople:"",
                    numTables:"",
                    time:null,
                    date:null,
                    tel:"",
                    email:"",
                },
                leftReservations: [],
                rightReservations: [],

            };
        }},
    );
    app.mount("#app");
</script>
</body>
</html>
