<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="main.css">
</head>

<body id="app">
<nav class="main-nav">
    <h3>Kafana</h3>
    <div>
        <button>Login</button>
        <button>Register</button>
    </div>
</nav>
<div class="main-page-container">

    <div class="reservation-info left-info">
        <h1>Mali Masi: <span class="sm-counter"></span></h1>
        <div class="reservation-card">
            <div class="res-name">Name: </div>
            <div class="res-mail">Mail: </div>
            <div class="res-time">Time: </div>
            <div class="res-date">Date: </div>
            <div class="res-num-people">Number of people: </div>
        </div>

    </div>

    <div class="reservation-main">
        <form class="reservation-form">

            <div class="reservation item item-1">
                <label>Name:</label>
                <input type="text" name="name" v-model="name">
            </div>

            <div class="reservation item item-2">
                <label>Surname:</label>
                <input type="text" name="surname" v-model="surname">
            </div>

            <div class="reservation item item-3">
                <label>Number People:</label>
                <input type="number" name="numPeople" v-model="numPeople">
            </div>

            <div class="reservation item item-4">
                <label>Number Tables:</label>
                <input type="text" name="numTables" v-model="numTables">
            </div>

            <div class="reservation item item-5">
                <label>Time:</label>
                <input type="time" name="time" v-model="time">
            </div>

            <div class="reservation item item-6">
                <label>Tel:</label>
                <input type="tel" name="telephone" v-model="tel">
            </div>

            <div class="reservation item item-7">
                <label>Email:</label>
                <input type="email" name="email" v-model="email">
            </div>

            <button class="form-btn" @click.prevent="test"
            >Make Reservation</button>
        </form>
    </div>
    <div class="reservation-info right-info">
        <h1>Golemi Masi: <span class="bg-counter"></span></h1>
    </div>

</div>


<script>
    let app =  Vue.createApp({
        computed : {

        },
        methods : {
            seeFetched()
            {
              console.log(this.reservations);
            },
            submitForm(jsonObj, javaObj)
            {
                this.addReservationCard(javaObj)

                /*fetch('http://127.0.0.1:5000/api/reserve', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: jsonObj
                })
                    .then(response => response.json())
                    .then(data => {
                        // Handle the response from the backend
                        console.log (data);
                        if(data === "200") this.addReservationCard(javaObj)
                    })
                    .catch(error => {
                        // Handle errors
                        console.error('Error submitting to backend:', error);
                    });*/
            },
            addReservationCard(reservationInfo)
            {
                console.log(reservationInfo);
            },
            test()
            {
                let javaObject = this.factory() ;
                console.log(javaObject)

                let stringJson = JSON.stringify(javaObject);
                console.log(stringJson);
                this.submitForm(stringJson, javaObject)
            },
            factory()
            {
                let name = this.name;
                let surname = this.surname;
                let numPeople = this.numPeople;
                let numTables = this.numTables;
                let time = this.time;
                let date = this.date;
                let tel = this.tel;
                let email = this.email;
                return {
                    name,
                    surname,
                    numPeople,
                    numTables,
                    time,
                    date,
                    tel,
                    email,
                }

            }

        },
        mounted()
        {
            // Fetch data from the local JSON file
            fetch('/data.json')
                .then(response => response.json())
                .then(data => {
                    // Set the data in the component's state
                    console.log(data);
                    this.reservations = data;
                    // this.seeFetched();
                })
                .catch(error => console.error('Error fetching data:', error));
        },
        data() {
            return {
                name: "",
                surname:"",
                numPeople:"",
                numTables:"",
                time:null,
                date:null,
                tel:"",
                email:"",
                reservations: [],

            };
        }},
    );
    app.mount("#app");
</script>
</body>
</html>
