@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

html{
    font-size: 1rem;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    background: #c7b0b0;
}

.main-nav h3{
    margin-left: 3%;
    font-size: 1.8rem;
    background: white;
    padding: 1rem 1.2rem;
    border-radius: 15px;
}

.main-nav > div{
    margin-right: 4%;
}

.main-nav > div > button:first-of-type{
    margin-right: 1rem;
    background: #9c9ce1;
    padding: 1rem 2rem;
}

.main-nav > div > button{
    background: #65b665;
    font-weight: 700;
    padding: 1rem 1.6rem;
    border-radius: 15px;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    box-shadow: 5px 3px 10px 2px rgba(0, 0, 0, 0.29);
    height: 5vh;
    transition: height .2s ease;
}

.main-nav > div > button:hover{
    height: 6vh;
    transition: height .3s ease;
}

.main-page-container{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.reservation-form{
    border: 1px solid black;
    padding: 5rem 2.5rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 10px 2px rgba(0, 0, 0, 0.29);
    background: #efecec;
    justify-content: center;
    align-items: center;
}

.form-btn {
    border-radius: 15px;
    border: .5px solid black;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
    transition: .5s ease;
}

.form-btn:hover{
    background: white;
}

.reservation-form .item{
    display: flex;
    margin-bottom: 1.5rem;
}

label{
    display: inline-block;
    width: 12rem;
    font-size: 1.3rem;
    font-weight: 500;
}

input{
    width: 10rem;
    outline: none;
    cursor: pointer;
}

.reservation-form button{
    padding: 1rem 1.5rem;
}

.reservation-info{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.reservation-info.left-info{
    margin-left: 2rem;
}

.reservation-info.right-info{
    margin-right: 2rem;
}

.reservation-card{
    border: 1px solid black;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s ease;
    background: #f5f1f1;

}

.reservation-card:hover{
    box-shadow: 5px 3px black;
}


