@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

html{
    font-size: 1rem;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    background: #c7b0b0;
}

.main-nav h3{
    margin-left: 3%;
    font-size: 1.8rem;
    background: white;
    padding: 1rem 1.2rem;
    border-radius: 15px;
}

.main-nav > div{
    margin-right: 4%;
}

.main-nav > div > button:first-of-type{
    margin-right: 1rem;
    background: #9c9ce1;
    padding: 1rem 2rem;
}

.main-nav > div > button{
    background: #65b665;
    font-weight: 700;
    padding: 1rem 1.6rem;
    border-radius: 15px;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    box-shadow: 5px 3px 10px 2px rgba(0, 0, 0, 0.29);
    height: 5vh;
    transition: height .2s ease;
}

.main-nav > div > button:hover{
    height: 6vh;
    transition: height .3s ease;
}

.reservation-main{
    line-height: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*box-shadow: 5px 3px 10px 2px rgba(0, 0, 0, 0.29);*/
}

.reservation-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid black;
    padding: 2rem 2rem;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background: #ece8e8;
    box-shadow: 5px 3px 10px 2px rgba(0, 0, 0, 0.39);
}

label{
    font-weight: 600;
}

input{
    cursor: pointer;
}

.reservation-form button{
    padding: 1rem 1.3rem;
    border-radius: 15px;
    border: transparent;
    background: #b5beb5;
    font-weight: 600;
    font-size: 1.2rem;
}

